body{
    margin: 0;

}
nav{
    background-color: deeppink;
}
h1{
    color: whitesmoke;
    font-size: 22px;
    margin-left: 100px;
}
.flex-container{
    display: flex;
    background-color: yellow;
}
a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
   /* transition: 2s all;*/
}
a:hover{
    background-color: pink;
    color: black;
}
.flex-item1{
    flex: 20%;
    background-color: brown;
}
.flex-item2{
    flex: 80%;
   background-color: green;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-left: 80px;
}
.slider{
    height: 600px;
    background-image: url('../images/nature.webp');
    background-repeat: no-repeat;
    background-size: cover;


    animation-name: animate;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes animate{
    from{
        background-image: url('../images/nature1.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
    to{
        background-image: url('../images/nature2.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }
}